.form {
  label {
    font-size: 20px;
    color: var(--app-color-title);
    font-weight: bold;
  }

  .submitButtonForm {
    display: flex;
    margin: 0%;
    justify-content: flex-end;
    span {
      color: var(--app-color-white);
    }
  }
}

.directorySelectorContainer {
  margin-bottom: 24px;
}