.mainLayout {
  background-color: #f5f7fb;
  border-radius: 8px;
}

.content {
  border-top: 1px solid #d8dbf4;
  border-right: 1px solid #d8dbf4;
  border-bottom: 1px solid #d8dbf4;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contentWithDivider {
  border-left: 1px solid #d8dbf4;
  border-top: 1px solid #d8dbf4;
  border-right: 1px solid #d8dbf4;
  border-bottom: 1px solid #d8dbf4;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.content .ant-layout-content {
  background-color: transparent;
}

.taskCreationContainer {
  padding: 16px;
  min-height: 100%;
}

.errorMessage {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
