.historyPanelContainer {
  border: 1px solid #D8DBF4 !important;
  border-top-left-radius: 8px;
  margin-left: 10px;
}

.fileTreePanelHeader {
  border: none;
  background: #EFF0FB;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
}

.collapsed {
  width: 50px;
}

.expanded {
  width: 11%;
}
